/*Fonts*/

body{
    background-color: #ECF2F8;
    font-family: 'Oswald', sans-serif;}
:root{
    --light-color:white;
    --dark-color:black;
}
*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    margin: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
    "d d j j k k"
    "h p p p k k"
    ;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 15px;
}
.card-header{
    display: flex;
    flex-direction: row;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.card-1{
    grid-area: d;
    background-color: #7541C8;
    color: var(--light-color);
}
.card-2{
    grid-area: j;
    background-color: #48556A;
    color: var(--light-color);

}
.card-3{
    grid-area: k;
    background-color: #FFFFFF;
    color: var(--dark-color);
}
.card-4{
    grid-area: h;
    background-color: #FFFFFF;
}
.card-5{
    grid-area: p;
    background-color: #19212E;
    color: var(--light-color);
}
img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}