:root{
    --dark-text:rgb(0, 0, 0);
    --light-text:rgb(250, 234, 8);
}

*{
    margin: 0px;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:  200px 200px;

}

.Daniel{
    background-color: #7541c9;
    grid-column: 1/3;
    color: var(--light-text);
}

.Jonathan {
    background-color: #49556B;
    color: var(--light-text);

}

.Kiara {
    background-color: #ffffff;
    grid-column: 4/6;
    grid-row: 1/3;
}

.Harmon {
    background-color: #fdfdfd;

}
.Patrick{
    background-color: #19212E;
    grid-column: 2/4;
    color: var(--light-text);
}
.item{
    border-radius: 10px;
    box-shadow: 2px 2px 12px 2px  black;
}