*{
    margin: 0px;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 200px 40px;

}

.header {
    background-color: #deb135;
}

.menu {
    background-color: #de6235;
}

.content {
    background-color: #35a0de;
}

.footer {
    background-color: #deb135;

}
