:root{
    --dark-text:rgb(0, 0, 0);
    --light-text:rgb(255, 254, 246);
}

*{
    margin: 0px;
    box-sizing: border-box;
}
.container {
    height:100%;
    padding: 70px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 300px 300px;
    font-size: 0.75rem;
}

.Daniel{
    display: flex;
    height:100%;
    background-color: #7541c9;
    grid-column:span 2;
    color: var(--light-text);
    padding: 10px;
}

.Jonathan {
    background-color: #49556B;
    color: var(--light-text);

}

.Kiara {
    background-color: #ffffff;
    grid-column: span 2;
    grid-row: span 2;
}

.Harmon {
    background-color: #fdfdfd;

}
.Patrick{
    background-color: #19212E;
    grid-column: span 2;
    color: var(--light-text);
}
.item{
    border-radius: 10px;
}
.image-one{
    border-radius: 80%;
}